<div class="container-middle">
  <div class="input-group">
    <input type="text" class="form-control" placeholder="Search for..." aria-label="Search for..." [(ngModel)]="pattern">
    <span class="input-group-btn">
      <button class="btn btn-secondary cursor" type="button" (click)="search()">
        <i class="fa fa-search" aria-hidden="true"></i>
      </button>
    </span>
  </div>
  <div *ngFor='let item of items' style="cursor: pointer">
    <h3>{{item.snippet.title}}</h3>
    <img src="{{item.snippet.thumbnails.default.url}}" />
    <button (click)="add(item)">Add</button>
  </div>
</div>