<div class="content-area"
     style="height:100%">

  <div class="clr-row clr-justify-content-center clr-align-items-center"
       style="height: 100%">
    <div class="clr-col-12 clr-col-sm-8 clr-col-lg-6">

      <div class="clr-row clr-justify-content-between">

        <button class="clr-col-5 btn btn-outline ak-landing-page-btn ak-hover-effect"
                [routerLink]="['playlists', 'yt-spotify-integration']">
          Playlists
        </button>

        <button class="clr-col-5 btn btn-outline ak-landing-page-btn ak-hover-effect"
                [routerLink]="['rooms']">
          Rooms
        </button>

      </div>
    </div>
  </div>
</div>