@import 'variables';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.pointer {
  cursor: pointer;
}

fa-icon + fa-icon {
  margin-left: $small-spacing;
}

fa-icon.pointer:hover {
  color: darken($text-color, 100%);
}

#search {
  background-color: $background;

  input {
    width: 100%;
    height: 3em;
    padding: $spacing;
    border: 1px solid $darkColor;
    border-radius: 5px;
    outline: none;
    transition: border-color .3s linear;

    &:focus {
      border: 1px solid $primaryColor;
    }
  }

  #search-icon {
    cursor: pointer;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.4em;
    width: 4em;
    margin-left: -4.05em;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color:$darkColor;
  
    &:hover {
      color: $primaryColor;
    }
  }
}

app-root {
  font-size: $font-size;
  color: $text-color;

  background-color: $background;
  background-image: url('./assets/logo.png');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}