// Colors
$primaryColor: rgb(147, 150, 4);
$secondaryColor: rgb(151, 95, 25); 
$text-color: rgb(60, 60, 60);
$background: whitesmoke;

// Sizes
$font-size: 1rem;

// Spacing between elements
$small-spacing: .3rem;
$spacing: .5rem;
$large-spacing: 1rem;