@import 'variables';
@import 'animations';

.widget {
  @extend .fade-in;

  color: $secondaryColor;
  margin-bottom: $largeSpacing;
  padding: $largeSpacing;
  background-color: $darkColor;
  border-radius: 5px;
  box-shadow: 5px 5px 5px lighten($secondaryColor, 30%);

  .header {
    @include hover($primaryColor, -10%);

    color: $primaryColor;
    cursor: pointer;
    text-decoration: underline;
    font-size: 1.2 * $font-size;
    border-spacing: $spacing;
  }

  .body {
    padding-top: $spacing;

    ::-webkit-scrollbar {
      width: .2em;
    }
    
    ::-webkit-scrollbar-thumb {
      background: $secondaryColor;
      border-radius: 5px;
      //box-shadow: 0px 0px 1px lighten($secondaryColor, 20%);
    }

    .action {
      @include hover($secondaryColor, -20%);
      cursor: pointer;
    }
  }
}