<div class="widget-container-left">
  <settings></settings>
  <youtube-playlists></youtube-playlists>
</div>

<div class="widget-container-center">
  <widget>
    <div slot="wrapper">
      <input type="search" />
    </div>
  </widget>

  <widget>
    <div slot="header">
      Опции
    </div>
  </widget>

  <widget>
    <div slot="header">
      Резултати
    </div>
  </widget>
</div>

<div class="widget-container-right">
  <div class="widget">
    <h3>Right widget 1</h3>
  </div>
  <div class="widget">
    <h3>Right widget 2</h3>
  </div>
</div>