<div class="container-middle" *ngIf="playerService.flags.active">
  <div id="progress-bar">
    <div id="progress">
    </div>
  </div>

  <div class="mg-up-down">
    <span class="cursor text-secondary mg-side">
      <i class="fa fa-step-backward" aria-hidden="true"></i>
    </span>

    <span (click)="this.playerService.pause()" *ngIf="this.playerService.audioContext.state === 'running'" class="cursor text-secondary mg-side">
      <i class="fa fa-pause" aria-hidden="true"></i>
    </span>

    <span (click)="this.playerService.resume()" *ngIf="this.playerService.audioContext.state === 'suspended'" class="cursor text-secondary mg-side">
      <i class="fa fa-play" aria-hidden="true"></i>
    </span>

    <span class="cursor text-secondary mg-side">
      <i class="fa fa-step-forward" aria-hidden="true"></i>
    </span>

    <span (click)="this.playerService.replay()" *ngIf="this.playerService.flags.finished" class="btn btn-primary btn-xs">
      Replay
    </span>

    <input #volumeRef type="range" min="0" max="150" step="any" [value]="volume" (change)="changeVolume(volumeRef.value)" />
  </div>
</div>