<div class="center container-middle" *ngIf="session.pending">
  <i class="fa fa-spinner fa-pulse fa-fw"></i>
</div>
<div class="container-middle" *ngIf="player.flags.active">

  <audio-visualizer></audio-visualizer>
  <div class="text-secondary">{{player.current.name}}</div>

  <div id="progress-bar">
    <div id="progress">
    </div>
  </div>

  <div class="mg-up-down">
    <span (click)="prevSong()" class="cursor text-secondary mg-side">
      <i class="fa fa-step-backward" aria-hidden="true"></i>
    </span>

    <span (click)="this.player.pause()" *ngIf="this.player.audioContext.state === 'running' && !this.player.flags.finished" class="cursor text-secondary mg-side">
      <i class="fa fa-pause" aria-hidden="true"></i>
    </span>

    <span (click)="this.player.resume()" *ngIf="this.player.audioContext.state === 'suspended'" class="cursor text-secondary mg-side">
      <i class="fa fa-play" aria-hidden="true"></i>
    </span>

    <span (click)="this.player.replay()" *ngIf="this.player.flags.finished" class="cursor text-secondary mg-side">
      <i class="fa fa-refresh" aria-hidden="true"></i>
    </span>

    <span (click)="nextSong()" class="cursor text-secondary mg-side">
      <i class="fa fa-step-forward" aria-hidden="true"></i>
    </span>

    <input #volumeRef type="range" min="0" max="150" step="any" [value]="volume" (change)="changeVolume(volumeRef.value)" />
  </div>
</div>