.light {
  color: rgba(42, 42, 42, 0.75);
  background-color: rgba(136, 136, 136, 0.1);
}

.light .primary-text-color {
  color: rgb(109, 165, 25);
}

/* .light .primary-color {
  color: rgb(109, 165, 25);
} */

.light .primary-background {
  background-color: rgb(109, 165, 25);
}

.light .primary-background-20{
  background-color: rgba(109, 165, 25, .20);
}

.dark {
  color: rgba(211, 211, 211, 0.75);
  background-color: rgb(24, 24, 24);
}

.dark .primary-text-color {
  color: rgb(255, 113, 30);
}

.dark .primary-background {
  background-color: rgb(255, 113, 30);
}

.dark .primary-background-20{
  background-color: rgba(255, 113, 30, .20);
}