@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
}

.cursor{
  cursor: pointer;
}

.center {
  text-align: center;
}

.mg-up-down {
  margin: 0.5em 0;
}

.mg-side {
  margin: 0 0.5em;
}

#progress-bar{
  /* background-color: rgba(109, 165, 25, 0.20); */
  height: 0.8em;
  cursor: pointer;
}

#progress {
  /* background-color: rgb(109, 165, 25); */
  width: 0;
  height: inherit;
}

.container-middle {
  margin: 1.1em auto;
  width: 50%;
}

.container-content {
  font-size: 80%;
  margin-left: 1em;
}

.section-label {
  margin-bottom: 1em;
  text-decoration: underline;
}