<widget *ngIf="searchResult">
  <div slot="header">Search results</div>
  <div slot="body"
       style="max-height: 600px; overflow-y: auto;">
    <div *ngFor="let searchItem of searchResult.items"
         style="display: flex; margin-top: 10px;align-items: center;">
      <img src="{{searchItem.snippet.thumbnails.default.url}}" />
      <div style="margin-left: 10px;">
        <div class="action"
             style="align-self: center;">{{searchItem.snippet.title}}</div>
        <div>
          <fa-icon class="pointer"
                   class="action"
                   style="font-size: 1.5em"
                   [icon]="['fas', 'play']">
          </fa-icon>
          <!-- <fa-icon class="pointer"
                   class="action"
                   style="font-size: 1.5em"
                   [icon]="['fas', 'plus']">
          </fa-icon> -->
        </div>
      </div>
    </div>
  </div>
  <div slot="footer">
    <span class="load-more"
          (click)="loadMore()">more results</span>
  </div>
</widget>